nav {
	display: flex;
	font-size: 20px;
	margin-top: 30px;
	padding: 0;
	width: 100%;
}

nav ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

nav li a {
	padding: 10px 30px;
	background-color: #444;
	text-decoration: none;
	color: white;
	border: 2px solid black;
	border-radius: 8px;
	transition: 0.3s background-color;
	text-transform: uppercase;
}

nav a:hover {
	background-color: hsl(0, 0%, 10%);
}

.prisoners-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #222;
	text-align: center;
	padding: 50px 0;
	margin-top: 50px;
	transition: 0.3s background-color;
}

.prisoners-container ul {
	padding: 0;
	border: 2px solid rgb(163, 154, 154);
	border-radius: 8px;
	width: 20%;
	transition: 0.3s background-color;
}

.prisoners-container ul li {
	padding: 10px;
	border-bottom: 2px solid rgb(163, 154, 154);
	transition: 0.3s background-color;
}

.prisoners-container ul li:hover {
	background-color: #353434;
}

table {
	table-layout: fixed;
	width: 60%;
	border-collapse: collapse;
	border: 3px solid rgb(110, 99, 110);
	overflow: scroll;
}

th {
	font-size: 30px;
}

th,
td {
	padding: 20px;
}

tbody tr:nth-child(odd) {
	background-color: #3d3b3d;
}

tbody tr:nth-child(even) {
	background-color: #6b686b;
}

.mainContainer {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	font-size: 64px;
	font-weight: bolder;
	align-items: center;
	justify-content: center;
}

.resultContainer,
.historyItem {
	flex-direction: row;
	display: flex;
	width: 400px;
	align-items: center;
	justify-content: space-between;
}

.historyContainer {
	flex-direction: column;
	display: flex;
	height: 200px;
	align-items: center;
	flex-grow: 5;
	justify-content: flex-start;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 260px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.inputBox {
	height: 48px;
	width: 400px;
	font-size: large;
	border-radius: 8px;
	border: 1px solid grey;
	padding-left: 8px;
}

.mainContainer .inputButton {
	border: none;
	background: rgb(80, 80, 80);
	color: white;
	padding: 12px 24px;
	margin: 8px;
	font-size: 24px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.3s background;
}

.mainContainer .inputButton:hover {
	background: rgb(56, 52, 52);
}

td.manage {
	color: #ff160e;
	transition: 0.3s color;
}

td.manage:hover {
	color: #c71d0a;
	cursor: pointer;
}

.popup {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	flex-direction: column;
	align-items: center;
	background-color: #111;
	width: 30%;
	height: 65%;
	border: 3px solid rgb(134, 134, 134);
	border-radius: 8px;
}

.popup-add input {
	margin-top: 4px;
	margin-bottom: 15px;
}

.popup-add .inputButton {
	border: none;
	background: rgb(80, 80, 80);
	color: white;
	padding: 12px 24px;
	margin: 8px;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.3s background;
}
.popup-add .inputButton:hover {
	background: rgb(56, 52, 52);
}

.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70vh;
}

.home-container h1 {
	font-size: 50px;
	margin: 0;
}

.home-container .inputButton {
}

.home-container a {
	border: none;
	color: white;
	padding: 12px 24px;
	margin: 8px;
	font-size: 20	px;
	border-radius: 8px;
	cursor: pointer;
	background: rgb(80, 80, 80);
	text-decoration: none;
	transition: 0.3s background;
}
.home-container a:hover {
	background: rgb(56, 52, 52);
}
