nav {
	display: flex;
	font-size: 20px;
	margin-top: 30px;
	padding: 0;
	width: 100%;
}

nav ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

nav li a {
	padding: 10px 30px;
	background-color: #444;
	text-decoration: none;
	color: white;
	border: 2px solid black;
	border-radius: 8px;
	transition: 0.3s background-color;
	text-transform: uppercase;
}

nav a:hover {
	background-color: hsl(0, 0%, 10%);
}

.prisoners-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #222;
	text-align: center;
	padding: 50px 0;
	margin-top: 50px;
	transition: 0.3s background-color;
}

.prisoners-container ul {
	padding: 0;
	border: 2px solid rgb(163, 154, 154);
	border-radius: 8px;
	width: 20%;
	transition: 0.3s background-color;
}

.prisoners-container ul li {
	padding: 10px;
	border-bottom: 2px solid rgb(163, 154, 154);
	transition: 0.3s background-color;
}

.prisoners-container ul li:hover {
	background-color: #353434;
}

table {
	table-layout: fixed;
	width: 60%;
	border-collapse: collapse;
	border: 3px solid rgb(110, 99, 110);
}

th {
	font-size: 30px;
}

th,
td {
	padding: 20px;
}

tbody tr:nth-child(odd) {
	background-color: #3d3b3d;
}

tbody tr:nth-child(even) {
	background-color: #6b686b;
}
