nav {
	display: flex;
	font-size: 20px;
	margin-top: 30px;
	padding: 0;
	width: 100%;
}

nav ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

nav li a {
	padding: 10px 30px;
	background-color: #444;
	text-decoration: none;
	color: white;
	border: 2px solid black;
	border-radius: 8px;
	transition: 0.3s background-color;
	text-transform: uppercase;
}

nav a:hover {
	background-color: hsl(0, 0%, 10%);
}

.prisoners-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #222;
	text-align: center;
}

.prisoners-container ul {
	padding: 0;
	border: 2px solid rgb(163, 154, 154);
	border-radius: 8px;
	width: 20%;
}

.prisoners-container ul li {
	padding: 10px;
	border-bottom: 2px solid rgb(163, 154, 154);
}

